<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app/app.css">
    <link rel="stylesheet" href="/lib/angularJs/angular-toastr.min.css">
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/lib/angularJs/angular.min.js"></script>
    <script src="/lib/angularJs/angular-route.min.js"></script>
    <script src="/javascripts/app/app.js"></script>
    <script src="/javascripts/app/config.js"></script>
    <script src="/javascripts/app/service.js"></script>
    <script src="/lib/angularJs/angular-resource.js"></script>
    <script src="/lib/angularJs/angular-toastr.min.js"></script>
    <link rel="stylesheet" href="/lib/fontawesome/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body ng-app="ToDoList">
    <div ng-controller="RootController">
      <div class="" ng-view>

      </div>
    </div>
  </body>
</html>
