<div class="" ng-controller="ListHomeController">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="list in lists">
				<div class="" ng-click="viewList(list._id)">
					<div class="{{ list.color_class }}">
						<div class="shape">
							<div class="shape-text">
								top
							</div>
						</div>
						<div class="offer-content">
							<h3 class="lead">
								{{ list.list_name }}
							</h3>
							<p>
								{{ list.description }}
							</p>
						</div>
						<div class="pull-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-trash" aria-hidden="true" ng-click="destroy(list._id)"></i>
						</div>
					</div>
				</div>


			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-toggle="modal" data-target="#modalCart">
				<div class="offer offer-radius offer-danger">
					<div class="shape">
						<div class="shape-text">
								<i class="fas fa-plus"></i>
						</div>
					</div>
					<div class="offer-content">
						<h3 class="lead">
							Click to add new list
						</h3>
						<p>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  adding list model  -->
	<!-- Button trigger modal-->
	<!-- Modal: modalCart -->
	<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <!--Header-->
	            <div class="modal-header">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<h4 class="modal-title" id="myModalLabel">Add New List</h4>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">X</span>
	                </button>
								</div>

	            </div>
	            <!--Body-->
	            <div class="modal-body">

	                <table class="table table-hover">
	                    <tbody>
	                        <tr>
	                            <td>List Name</td>
	                            <td> <input type="text" class="form-control" name="" id="list_name" value="" ng-model="list_name"> </td>
	                        </tr>
	                        <tr>
	                            <td>Description</td>
	                            <td>
																<div class="form-group">
															    <textarea class="form-control" id="description" rows="3" ng-model="description"></textarea>
															  </div>
															</td>
	                        </tr>
	                        <tr>
	                            <td>Select Color</td>
	                            <td>
																<div class="form-group">
															    <select class="form-control" ng-model="color_class">
																		<option value="">Select</option>
																		<option value="offer offer-success">Green</option>
																		<option value="offer offer-radius offer-danger"> Red</option>
																		<option value="offer offer-warning"> Yellow</option>
																		<option value="offer offer-info"> Blue</option>
																		<option value="offer offer-radius offer-primary">Hard Blue</option>
															    </select>
															  </div>
															</td>
	                        </tr>
	                    </tbody>
	                </table>

	            </div>
	            <!--Footer-->
	            <div class="modal-footer">
	                <button type="button" id="close_list_modal" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
	                <button class="btn btn-primary" ng-click="saveList()">Save</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- delete the list  destroy_modal-->
	<!-- Modal -->
	<div id="destroy_modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Delete List</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure ? </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="destroyConfirm()">Yes</button>
	        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
	      </div>
	    </div>

	  </div>
	</div>
	<!-- delete the list  end -->
	<!-- Modal: modalCart -->
	<!--  adding list model end -->
</div>
